.shopCat{
    padding-top: 30px;
    background-color: #f3f3f3;
}
.shopCat {
    margin: 0 auto;
  }
  .shopCat .heading{
    font-family: Arial, Helvetica, sans-serif;
    text-align: start;
    position: relative;
    left: 37px;
    bottom: 14px;
    margin-left: 20px;
    margin-top: 19px;
  }
  
  .slide {
    
    padding:0px 60px;
  }
  
  .slide img {
    width: 114px;
    height: 114px;
    border-radius: 5px;
  }
  