/* signup.module.css */

.signupContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    background: linear-gradient(to right, #002d72, #003978);
    font-family: Arial, sans-serif;
    overflow: hidden;
  }
  
  .signupBox {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    height:580px;
    box-sizing: border-box;
  }
  
  .signupBox h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
    text-align: start;
    font-weight: bold;
  }
  
  .inputGroup {
    margin-bottom: 15px;
  }
  
  .inputGroup label {
    display: block;
    margin-bottom: 5px;
    color: #555;
  }
  .signupBox
  .inputGroup input[type="text"],
  .inputGroup input[type="email"],
  .inputGroup input[type="password"] {
    width: 100%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    
    
  }
  
  .inputGroup input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .inputGroup label {
    color: #555;
    font-size: 14px;
    margin: 0px;
  }
  
  .btnPrimary {
    width: 100%;
    padding: 12px;
    background-color: #ff5722;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
  }
  
  .btnPrimary:hover {
    background-color: #e64a19;
  }
  
  .error {
    color: red;
    font-size: 12px;
    margin: 10px 0;
    text-align: center;
  }
  
  .signupBox p {
    text-align: center;
    
    font-size: 14px;
  }
  .name{
    display: flex;
    gap: 10px;
  }
  
  .signupBox p a {
    color: #ff5722;
    text-decoration: none;
  }
  .signupBox inputGroup label p{
    position: relative;
    bottom: 11px;
  }
  
  .signupBox p a:hover {
    text-decoration: underline;
  }
  /* login.css and signup.css */
.loginContainer, .signupContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh; /* Adjust based on your layout */
  padding: 20px;
  box-sizing: border-box;
}

.loginBox, .signupBox {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#yes{
  position: relative;
  left:-80px;
}
#remember{
  position: relative;
  left:-160px;

}
.signupBox span{
  position: relative;
  right: 380px;
  bottom: 170px;
  font-size: 30px;
  color: #fff;
}
#sing{
  font-size: 25px;
  position: relative;
  right: 100px;

}
