/* Global CSS */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
   
  }
  
  body {
    display: flex;
    flex-direction: column;

  }
  
  .content {
    flex: 1;
  }
  
  /* Footer CSS */
  footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  